html,body {
    height: 100%;    
}

.body {
    position: relative;
    width: 980px;
    max-width: 1024px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px 2px;    
    /* background-color: bisque; */
}
.header {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: bisque; */
    border: mediumblue 3px solid;
    position: relative;
    height: 220px;    
}
.article-header {
    width: 800px;
    /* background-color: chartreuse; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
img {
    border-radius: 50%;
}
.avatar {
    display: flex;
    justify-content: center;
}
.name-img {
    color: mediumblue;
    font-size: 80px;
    /* font-family: 'Sriracha', cursive; */
    font-family: 'Fjalla One', sans-serif;
    /* font-family: 'Kelly Slab', cursive; */
    margin-left: 60px;
}
.position-jun {
    font-size: 28px;
    /* font-family: 'Sriracha', cursive; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Kelly Slab', cursive;
    text-align: center;
    margin-left: 215px;
}

/*main container */

.main {
    margin-top: 40px;
    height: 640px;
    /* background-color: mediumspringgreen;  */
    display: flex;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* AboutMe */
.aboutMe {
    border: mediumblue 3px solid;
    color: mediumblue;
    width: 40%;
    background-color: white;
    font-size: 20px;
}

.aboutMe-title {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}
.about-Container .aboutMe-description {
    margin-left: 30px;
    display: block;
    width: 270px;
    /* margin-top: 20px; */
    color: black;
    line-height: 23px;
    /* font-family: 'Sriracha', cursive; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Kelly Slab', cursive;
    font-style: italic;
}
.aboutMe-tel {
    margin-top: 0px;
}

/* Experience  */
.exp {
    border: mediumblue 3px solid;
    border-left: none;
    color: mediumblue;
    width: 60%;
    background-color: white;
    font-size: 20px;
}

.exp-title {
     margin-bottom: 20px;
     margin-top: 20px;
     text-align: center;
     font-family: 'Fjalla One', sans-serif;
     font-size: 30px;
 }

.ext-dd {
    display: block;
    width: 270px;
    /* margin-top: 20px; */
    color: black;
    line-height: 23px;
    /* font-family: 'Sriracha', cursive; */
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: 'Kelly Slab', cursive;
    font-style: italic;
    margin-left: 40px;
 }
 .exp-container {
     height: 100%;
 }
